body{
    margin: auto 0;
}

#containerAll{
    display: flex;
    height: 100vh;
    width: 100vw;
}
#image-div{
    background-image: url("pexels-vasanth-babu-150247-797793.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
}

.div-logo{
background-color: rgba(16, 14, 14, 0.364);
color: white;
width: 100%;
text-align: center;
}